<!doctype html>
<html lang="en">
    <head>
            <!--=include ../include/title_tag.html -->
            <!--=include ../include/meta_tags.html -->
            <!--=include ../include/head_include.html -->
    </head>
    <body style="margin:40px;">

        <div class="container">
            <!--=include ../include/header.html -->

            <main role="main">

            <div class="jumbotron">
                <h1 class="display-3">
                    Authentication Flow has begun!
                </h1>
                <h3>
                    Add this to the text of one of your security questions:
                    {{.Verifier}}
                </h3>
                <h3>
                    After adding it, visit
                    <a href="{{.BaseLink}}/verify1/{{.LinkSuffix}}">
                        {{.BaseLink}}/verify1/{{.LinkSuffix}}
                    </a> to continue to step 2 of the authentication process!
                </h3>
            </div>

            </main>

            <!--=include ../include/footer.html -->

    </body>
</html>
