<!doctype html>
<html lang="en">
    <head>
        <!--=include ../include/title_tag.html -->
        <!--=include ../include/meta_tags.html -->
        <!--=include ../include/head_include.html -->
    </head>
    <body style="margin:40px;">

        <div class="container">
            <!--=include ../include/header.html -->

            <main role="main">

            <div class="jumbotron">
                <h1 class="display-3">
                    Reset has begun!
                </h1>
                <h3>
                    An email has been sent to {{.Email}}. Click on the link in
                    this email to complete the reset operation
                </h3>
            </div>

            </main>

            <!--=include ../include/footer.html -->

    </body>
</html>
