<!doctype html>
<html lang="en">
    <head>
        <!--=include ../include/title_tag.html -->
        <!--=include ../include/meta_tags.html -->
        <!--=include ../include/head_include.html -->
    </head>
    <body style="margin:40px;">

        <div class="container">
            <!--=include ../include/header.html -->

            <main role="main">

            <div class="jumbotron">
                <h1 class="display-3">
                    Authentication Flow could not be started!
                </h1>
                <h3>
                    {{if .RollExists }}
                        This roll number is already associated with a email ID.
                    {{else}}
                        This email ID is already associated with a roll number
                    {{end}}
                </h3>
                <h3>
                    If you would like to re-authenticate yourself, please go to
                    the <a href="/reset">Reset Page</a> and reset your roll
                    number or email ID to begin again.
                </h3>
            </div>

            </main>

            <!--=include ../include/footer.html -->

    </body>
</html>
