<!doctype html>
<html lang="en">
    <head>
        <!--=include ../include/title_tag.html -->
        <!--=include ../include/meta_tags.html -->
        <!--=include ../include/head_include.html -->
    </head>
    <body style="margin:40px;">

        <div class="container">
            <!--=include ../include/header.html -->

            <main role="main">

            <div class="jumbotron">
                <h1 class="display-3">
                    Reset Completed!
                </h1>
                <h3>
                    All records associated with either {{.Roll}} or {{.Email}}
                    have been removed!
                </h3>
                <h3>
                    You have a clean slate now! Visit the 
                    <a href="/">Home Page</a> to start over!
                </h3>
            </div>

            <div class="text-center">
                <a href="https://www.brainyquote.com/quotes/paul_cezanne_370184"
                    target="_blank">
                    <img src="/public/cezanne.jpg" width="640" />
                </a>
            </div>

            </main>

            <!--=include ../include/footer.html -->

    </body>
</html>
