<!doctype html>
<html lang="en">
    <head>
        <!--=include ../include/title_tag.html -->
        <!--=include ../include/meta_tags.html -->
        <!--=include ../include/head_include.html -->
    </head>
    <body style="margin:40px;">

        <div class="container">
            <!--=include ../include/header.html -->

            <main role="main">

            <div class="jumbotron">
                <h1 class="display-3">
                    Verification completed!
                </h1>
                <h3>
                    You have successfully completed both steps of the Leprechaun
                    authentication service!
                </h3>
                <h3>
                    {{.Roll}}&nbsp;&lt;=&gt;&nbsp;{{.Email}}
                </h3>
            </div>

            <p>
            You can now remove the verification token from your secret
            question in your ERP account!
            </p>

            </main>

            <!--=include ../include/footer.html -->

    </body>
</html>
