<!doctype html>
<html lang="en">
    <head>
        <!--=include ../include/title_tag.html -->
        <!--=include ../include/meta_tags.html -->
        <!--=include ../include/head_include.html -->
    </head>
    <body style="margin:40px;">

        <div class="container">
            <!--=include ../include/header.html -->

            <main role="main">

            <div class="jumbotron">
                <h1 class="display-3">
                    Step 1 of the Authentication is now complete!
                </h1>
                <h3>
                    A verification email has been sent to {{.Email}}!
                </h3>
                <h3>
                    Visit the link inside that email to complete your
                    authentication!
                </h3>
                {{if .Completed}}
                    <i>
                        This step was completed at {{.CompletedTime}}
                    </i>
                {{end}}
            </div>

            </main>

            <!--=include ../include/footer.html -->

    </body>
</html>
